<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>JLN | About Us</title>
	<meta property="og:url" content="index.html">
	<meta property="og:site_name" content="Nozer- Jewelry Store Shopify Theme">
	<meta name="twitter:card" content="summary">
	<link rel="canonical" href="index.html">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="#7fc9c4">
	<link rel="icon" href="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/favicon20ee.png?v=3204386079363479650" type="image/png" sizes="16x16">

	<!-- font -->

{% include 'headlinks.html' %}
	<style>
		body {
			overflow-x: hidden !important;
		}
	</style>
</head>

<body class="preload push_filter_left js_overhidden">
{% load static %}
	<div class="wrap">
		<div class="contentbody">
{% include 'header.html' %}
			<div id="shopify-section-header" class="shopify-section index-section">
				<!-- /sections/header.liquid -->

			</div>

			<div id="shopify-section-about-template" class="shopify-section">
				<div class="wrap-bread-crumb breadcrumb_collection2">
					<div class="text-center bg-breadcrumb" style="background-image: url( {% static './img/aboutus.jpg' %} );">
						<div class="title-page">
							<h2 class="">About Us</h2>
						</div>
						<div class="bread-crumb">
							<a href="index.php" title="Back to the frontpage">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a>

							<strong>About Us</strong>


						</div>




					</div>
				</div>
				<section>
					<div class="aboutus-pages">
						<div class="container container-v2">
							<div class="about-introduce">
								<div class="row">
									<div class="col-md-6 intro_image">
										<img class="w-100" src=" {% static './img/aboutus1_143.jpg' %}">
									</div>
									<div class="col-md-6 intro_detail d-flex align-items-center">
										<div class="info-intro">
											<p class="des_intro">Fashion democracy</p>
											<h3 class="title_intro">Who we are</h3>

											<p class="content_intro">JNJ is dedicated towards designing modern luxury silver jewellery that celebrates exquisite craftsmanship. Luxury th"t should be attainable and expressive, and designs that are infused with modern aesthetics representing outof-the-box artistry. All our designs are handcrafted with a lot of love and patience. We only use Pure silver 92.5 H"llm"rked in our jewellery.</p>
										</div>
									</div>
									<div class="col-md-6 intro_detail d-flex align-items-center">
										<div class="info-intro">
											<p class="des_intro">Fashion democracy</p>
											<h3 class="title_intro">Our story</h3>

											<p class="content_intro">JNJ is led by creative director Madhuri Jain, who studied Jewellery Design at Gemological Institute Of America. There she learnt to turn artistic inspiration into creative jewels. She further polished her skills by acquiring a Masters diploma in Jewellery management from University of Mumbai, where she predominantly worked with jewellery manufacturing tools to underst"nd the practical aspect of Jewellery design. </p>
										</div>
									</div>
									<div class="col-md-6 intro_image ">
										<img class="w-100" src=" {% static './img/aboutus13_145.jpg' %}">
									</div>
									<div class="col-md-6 intro_image ">
										<img class="w-100" src=" {% static './img/aboutus13_145.jpg' %}">
									</div>
									<div class="col-md-6 intro_detail d-flex align-items-center">
										<div class="info-intro">
											<p class="des_intro">Fashion democracy</p>
											<h3 class="title_intro">Heritage</h3>
	<p class="content_intro">“I wqnted to create jewellery that enhances a womenʼs playful self and individuality,” explains Madhuri Jain who was born into a family of jewellers. Her first glimpse into the jewellery world was spending time with her father who taught her the traditions of jewellery making. He has established a strong stamp of recognition, quality and credible reputation for running his jewellery brand Z. successfully by the name of Kamal Palwal Jewellers in Delhi, India. He taught her about the jewellery market place and shared his wisdom to respect and honour others. Madhuriʼs admiration for her father and his hardwork led her to start her own jewellery label.</p>
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="about-servicebox" style="background-image: url({% static './img/serviceab_147.jpg' %});">
							<div class="container container-v2">
								<h2 class="title-servicebox">Reasons to shop with us</h2>
								<div class="row slickjs-services-v1">
									<div class="text-center itemtservice justify-content-center">

										<div class="box-service col-lg-12">
											<span class="icon">          
                <i class="icon-icon-transport "></i>
              </span>
											<h4 class="title">FREE SHIPPING & RETURN</h4>
						<p class="content">On in-stock items ordered by 5:00 p.m.</p>
										</div>									</div>
									<div class="text-center itemtservice justify-content-center">
										<div class="box-service col-lg-12">
											<span class="icon">          
                <i class="icon-icon-currency "></i>
              </span>
												<h4 class="title">FREE SHIPPING & RETURN</h4>


											<p class="content">On in-stock items ordered by 5:00 p.m.</p>

										</div>
									</div>
									<div class="text-center itemtservice justify-content-center">
										<div class="box-service col-lg-12">
											<span class="icon">          
                <i class="icon-icon-flower "></i>
              </span>

											<h4 class="title">FREE SHIPPING & RETURN</h4>


											<p class="content">On in-stock items ordered by 5:00 p.m.</p>

										</div>
									</div>

									<div class="text-center itemtservice justify-content-center">
										<div class="box-service col-lg-12">
											<span class="icon">          
                <i class="icon-icon-transport "></i>
              </span>
											<h4 class="title">FREE SHIPPING & RETURN</h4>
											<p class="content">On in-stock items ordered by 5:00 p.m.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
{% include 'footer.html' %}
		</div>

	</div>

{% include 'scriptfoot.html' %}
</body>
</html>