<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>JNJ | Events</title>
	<meta property="og:url" content="index.html">
	<meta property="og:site_name" content="Nozer- Jewelry Store Shopify Theme">
	<meta name="twitter:card" content="summary">
	<link rel="canonical" href="index.html">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="#7fc9c4">
	<link rel="icon" href="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/favicon20ee.png?v=3204386079363479650" type="image/png" sizes="16x16">

	<!-- font -->

{% include 'headlinks.html' %}
	<style>
		body {
			overflow-x: hidden !important;
		}
	</style>
</head>

<body class="preload push_filter_left js_overhidden">
{% load static %}
	<div class="wrap">
		<div class="contentbody">
{% include 'header.html' %}

			<div id="shopify-section-contact-template" class="shopify-section">
				<div class="wrap-bread-crumb breadcrumb_collection2">
					<div class="text-center bg-breadcrumb" style="background-image: url({% static './img/aboutus-bg_140.jpg' %});">
						<div class="title-page">
							<h2 class="">Events</h2>
						</div>
						<div class="bread-crumb">
							<a href="/" title="Back to the frontpage">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a>
							<strong>Events</strong>
						</div>
					</div>
				</div>
				<section id="content">
					<div class="content-page contact-page">

						<div id="shopify-section-1568435391144" class="shopify-section">
							<div data-section-id="1568435391144" data-section-type="section-product-v6">
								<div class="ds-product-v6">
									<div class="container">
										<div class="title_ds_prodv5 text-center">
											<h3 class="mb-0">Events</h3>
											<p class="big_title mb-0">Itʼs our honour to greet and
												interact with all of you on so
												many events. We are
												overwhelmed with all the
												love and support that you
												people have given to our
												jewellery and our brand.
												Keep loving us always and
												we will keep bringing Jewels
												N Jawaharat for everybody.</p>
										</div>
										<div class="product_new" style="padding-top: 50px;">
											<div class="row ">
												<div class="col-lg-3 col-md-4 mb-3 col-12 product_item">
													<div class="product-item-v1">
														<div class="product mb-30 engoj_grid_parent relative">
															<div class="img-product relative"> <a style="" href="#" class="engoj_find_img"> <img style="width: 100%" src="cdn.shopify.com/s/files/1/0227/2047/9268/products/16_68e9ff80-5cde-47ef-afec-a69826aeecdb6b2f.jpg?v=1569576257" class="img-responsive" alt="Sample affiliate product"> <img style="width: 100%" src="cdn.shopify.com/s/files/1/0227/2047/9268/products/241c97.jpg?v=1569576258" class="img-responsive absolute img-product-hover" alt="Sample affiliate product"> </a>
																<figure style="background : #ff4949; color: #ffffff" class="absolute uppercase label-sale text-center"> Sale </figure>
															</div>
															<div class="info-product">
																<h4 class="des-font capital title-product mb-0 flex"> <a href="#">Rajasthan Ratnakar
																		Diwali Mela,
																		October, 2019 Delhi </a> </h4>
																<div class="shop-button"> <a class="button-shop1 button-shop-1569901097042-1569912915546" href="#" style="color:#fff; background-color:#000" tabindex="-1"> View More </a> </div>
																<!-- END PRODUCT     -->

																<p class="price-product"> <span class="price">$460.00</span> <s class="price-old">$600.00</s> </p>
															</div>
														</div>
													</div>
													<style>

													</style>
												</div>
												<div class="col-lg-3 col-md-4 mb-3 col-12 product_item">
													<div class="product-item-v1">
														<div class="product mb-30 engoj_grid_parent relative">
															<div class="img-product relative"> <a style="" href="#" class="engoj_find_img"> <img style="width: 100%" src="cdn.shopify.com/s/files/1/0227/2047/9268/products/7eddd.jpg?v=1569568774" class="img-responsive" alt="Tiffany infinity ring"> <img style="width: 100%" src="cdn.shopify.com/s/files/1/0227/2047/9268/products/7eddd.jpg?v=1569568774" class="img-responsive absolute img-product-hover" alt="Tiffany infinity ring"> </a>
															</div>
															<div class="info-product">
																<h4 class="des-font capital title-product mb-0 flex"> <a href="#">India Wedding Fair IWF,
																		Februaryʼ2020 Delhi
																	</a> </h4>
																<!--     PRICE -->

																<div class="shop-button"> <a class="button-shop1 button-shop-1569901097042-1569912915546" href="#" style="color:#fff; background-color:#000" tabindex="-1"> View More </a> </div>
																<!-- END PRODUCT     -->

																<p class="price-product"> <span class="price">$80.00</span> </p>
																<!-- END PRODUCT     -->

																<!--     THUMBNAIL PRODUCT -->

																<!-- END THUMBNAIL     -->
															</div>
														</div>
													</div>
													<style>

													</style>
												</div>
												<div class="col-lg-3 col-md-4 mb-3 col-12 product_item">
													<div class="product-item-v1">
														<div class="product mb-30 engoj_grid_parent relative">
															<div class="img-product relative"> <a style="" href="#" class="engoj_find_img"> <img style="width: 100%" src="cdn.shopify.com/s/files/1/0227/2047/9268/products/7eddd.jpg?v=1569568774" class="img-responsive" alt="Tiffany infinity ring"> <img style="width: 100%" src="cdn.shopify.com/s/files/1/0227/2047/9268/products/7eddd.jpg?v=1569568774" class="img-responsive absolute img-product-hover" alt="Tiffany infinity ring"> </a>
															</div>
															<div class="info-product">
																<h4 class="des-font capital title-product mb-0 flex"> <a href="#">Wedding
																		Asia, February, 2020
																		Delhi
																	</a> </h4>
																<!--     PRICE -->

																<div class="shop-button"> <a class="button-shop1 button-shop-1569901097042-1569912915546" href="#" style="color:#fff; background-color:#000" tabindex="-1"> View More </a> </div>
																<!-- END PRODUCT     -->

																<p class="price-product"> <span class="price">$80.00</span> </p>
																<!-- END PRODUCT     -->

																<!--     THUMBNAIL PRODUCT -->

																<!-- END THUMBNAIL     -->
															</div>
														</div>
													</div>
													<style>

													</style>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>






			</div>

			<?php include 'footer.php'; ?>

			<div id="back-to-top" class="one">
				<i class="ti-angle-up"></i>
			</div>



		</div>

	</div>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/fastclick6d29.js?v=18094824874813853145" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/javascripts/currencies.js" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/jquery.currencies.minb15e.js?v=17505776077200662322" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/timberc946.js?v=14711222106712985598" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/handlebars.min3010.js?v=7904446995236839729" type="text/javascript"></script>
	<!-- /snippets/ajax-cart-template.liquid -->
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/ajax-cart748d.js?v=1230791560055078477" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/bootstrap.bundle.min189d.js?v=10697909701509708116" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/slick.min60d7.js?v=17408132016694157407" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/instafeed.min56d2.js?v=9003247094669648496" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/jquery.fancybox.min8e38.js?v=7852223938957104511" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/ajaxinate.mina2b8.js?v=654877121719681896" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/engo-plugins2dd6.js?v=15990522605681718822" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/quickviewe735.js?v=13920211458619649108" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/collectionc5f9.js?v=11441445832597112539" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/threesixty.min2565.js?v=2885247568098202840" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/engo-scripts4e8c.js?v=15502313731116996377" type="text/javascript"></script>
	<script>
		$(document).on('click', '.overlay, .continue-shopping, .close-window', function() {
			$(".engo-popup").hide();
		});
	</script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/owl.carousel.min.js'></script>
	<script src="owl/owljs.js"></script>
</body>

</html>