{% load static %}
<!DOCTYPE html>
<html class="no-js">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>JLN | Home</title>
	<meta property="og:url" content="index.html">
	<meta property="og:site_name" content="Nozer- Jewelry Store Shopify Theme">
	<meta name="twitter:card" content="summary">
	<link rel="canonical" href="index.html">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="#7fc9c4">
	<link rel="icon" href="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/favicon20ee.png?v=3204386079363479650" type="image/png" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/assets/owl.carousel.min.css'>
	<link rel='stylesheet' href='https://themes.audemedia.com/html/goodgrowth/css/owl.theme.default.min.css'>
	<link rel="stylesheet" href="{% static 'owl/owlcss.css' %}">
	<link rel="stylesheet" href=" {% static 'css/custom.css' %}">
	<!-- CSS ================================================== -->

	<link href="{% static 'css/timber.scss5fcb.css' %} " rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/bootstrap.min0d61.css' %} " rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/themify-icons40bc.css' %} " rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/font-awesome.minaee4.css' %} " rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/icomoona0db.css' %} " rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/flaticonf6e7.css' %} " rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/slick97ee.css' %} " rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/slick-themea330.css' %} " rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/jquery.fancybox.min1a36.css' %} " rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/threesixtyf1a8.css' %} " rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/style-main.css' %} " rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/engo-customize.scss83f8.css' %} " rel="stylesheet" type="text/css" media="all" />
	<meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/22720479268/digital_wallets/dialog">
	<script integrity="sha256-BFmLd7EQOpIHg76CWl9MJFqROXNgxiHNdyBpz5k0cRM=" crossorigin="anonymous" data-source-attribution="shopify.loadfeatures" defer="defer" src=" {% static 'js/load_feature-04598b77b1103a920783be825a5f4c245a91397360c621cd772069cf99347113.js' %} "></script>
	<script integrity="sha256-h+g5mYiIAULyxidxudjy/2wpCz/3Rd1CbrDf4NudHa4=" data-source-attribution="shopify.dynamic-checkout" defer="defer" src=" {% static 'js/features-87e8399988880142f2c62771b9d8f2ff6c290b3ff745dd426eb0dfe0db9d1dae.js' %} " crossorigin="anonymous"></script>
	<script integrity="sha256-HjpxOt032ssmooRgVOW/c8loNAwGy026qLmF3OAx9M0=" crossorigin="anonymous" defer="defer" src=" {% static 'js/preview_bar_injector-1e3a713add37dacb26a2846054e5bf73c968340c06cb4dbaa8b985dce031f4cd.js' %} "></script>
	<link rel="stylesheet" media="screen" href=" {% static 'css/stylesf7ca.css' %} ">
	<script id="sections-script" data-sections="section-slideshow-v2,section-banner-v3,section-banner-v4,section-newsletter-v3" defer="defer" src=" {% static 'js/scriptsf7ca.js' %} "></script>
	<script src=" {% static 'js/jquery.min.js' %}" type="text/javascript"></script>
	<script src=" {% static 'js/api.jquery-e94e010e92e659b566dbc436fdfe5242764380e00398907a14955ba301a4749f.js' %} " type="text/javascript"></script>
	<script src=" {% static 'js/modernizr-2.8.3.min3774.js?v=17472752542221191523' %} " type="text/javascript"></script>
	<script src=" {% static 'js/option_selection-fe6b72c2bbdd3369ac0bfefe8648e3c889efca213baefd4cfb0dd9363563831f.js' %} " type="text/javascript"></script>
	<!-- /snippets/social-meta-tags.liquid -->

	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&amp;display=swap" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- font -->
	<style>
		
		html{
    overflow-x: hidden !important;
}
	</style>
</head>

<body class="preload push_filter_left js_overhidden" style="background: #ffffff;">
{% load static %}
	<div class="wrap">
		<div class="contentbody">
{% include 'header.html' %}

			<!-- BEGIN content_for_index -->
			<div id="shopify-section-1569901097042" class="shopify-section index-section">
				<div data-section-id="1569901097042" data-section-type="section-slideshow-v2" style="  ">
					<div class="section-slideshow-v2">
						<div class="slick-side-h5">
							<div class="itemv-slide-h3">
								<div class="info-sideh3">
									<div class="picture-slideshow"> <img src="{% static 'images/slider1.jpg' %}" class="img-fluid img_slideh1" alt=""> </div>
									<div class="box-content">
										<div class="box-title">
											<h3 class="titlebig mb-0" style="color:#000;">New Diamond Earing</h3>
										</div>
										<div class="subtitle-1">
											<p class="mb-0" style="color:#000;">All the Lorem Ipsum generators</p>
										</div>
										<div class="box-button"> <a class="button-shop1 button-shop-1569901097042-1569901097042-0" href="#" style="color:#ffffff; background-color:#000"> Shop now </a> </div>
									</div>
								</div>
							</div>
							<div class="itemv-slide-h3">
								<div class="info-sideh3">
									<div class="picture-slideshow"> <img src="{% static 'images/slider2.jpg' %}" class="img-fluid img_slideh1" alt=""> </div>
									<div class="box-content">
										<div class="box-title">
											<h3 class="titlebig mb-0" style="color:#000;">Wedding Jewellery Collection</h3>
										</div>
										<div class="subtitle-1">
											<p class="mb-0" style="color:#000;">Best Jeweller in market</p>
										</div>
										<div class="box-button"> <a class="button-shop1 button-shop-1569901097042-1569912915546" href="#" style="color:#fff; background-color:#000"> Shop now </a> </div>
									</div>
								</div>
							</div>
							<div class="itemv-slide-h3">
								<div class="info-sideh3">
									<div class="picture-slideshow"> <img src="{% static 'images/slider3.jpg' %}" class="img-fluid img_slideh1" alt=""> </div>
									<div class="box-content">
										<div class="box-title">
											<h3 class="titlebig mb-0" style="color:#000;">Jewelry collection</h3>
										</div>
										<div class="subtitle-1">
											<p class="mb-0" style="color:#000;">Wedding Jewellery Collection</p>
										</div>
										<div class="box-button"> <a class="button-shop1 button-shop-1569901097042-1569918494809" href="#" style="color:#fff; background-color:#000"> Shop now </a> </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<style>
					.section-slideshow-v2 .slick-active .info-sideh3 .box-content .button-shop-1569901097042-1569901097042-0:hover {
						background-color: #dd3333 !important;
						color: #fff !important;
					}

					.section-slideshow-v2 .slick-active .info-sideh3 .box-content .button-shop-1569901097042-1569912915546:hover {
						background-color: #dd3333 !important;
						color: #fff !important;
					}

					.section-slideshow-v2 .slick-active .info-sideh3 .box-content .button-shop-1569901097042-1569918494809:hover {
						background-color: #dd3333 !important;
						color: #fff !important;
					}
				</style>
			</div>
			
			<div id="shopify-section-1568435391144" class="shopify-section top-sec">
				<div data-section-id="1568435391144" data-section-type="section-product-v6" style=" ">
					<div class="ds-product-v6">
						<div class="container container-v2">
							<div class="title_ds_prodv5 text-center">
								<h3 class="mb-0">New Collection</h3>
								<p class="big_title mb-0"></p>
							</div>
							<div class=" product_new">
								<div class="row">
									{% for i in products %}
									<div class="col-lg-3 col-md-4 mb-3 col-6 product_item">
										<div class="product-item-v1">
											<div class="product mb-30 engoj_grid_parent relative">
												<div class="img-product relative"> <a style="" href="{{i.get_url}}" class="engoj_find_img"> <img style="width: 100%" src="{{i.image.url}}" class="img-responsive" alt="Sample affiliate product"> <img style="width: 100%" src="{{i.image2.url}}" class="img-responsive absolute img-product-hover" alt="Sample affiliate product"> </a>
													<figure style="background : #ff4949; color: #ffffff" class="absolute uppercase label-sale text-center"> Sale </figure>
													<div class="product-icon-action">
														<div class="add-wishlist"> <a href="{{i.get_url}}" class="box-shadow  inline-block maxus-product__wishlist wish text-center" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist"> <i class="icon-heart "></i> </a> </div>
														<div class="add-to-cart">
															<form method="post" action="#" enctype="multipart/form-data" class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="Shop Now">
																<!-- <input type="hidden" name="id" value="30287356788772" /> -->
																<button type="submit" name="add" class="enj-add-to-cart-btn "> <i class="icon-cart" style="font-size: 22px;"></i> </button>
															</form>
														</div>
													</div>
												</div>
												<div class="info-product">
													<h4 class="des-font capital title-product mb-0 flex"> <a href="{{i.get_url}}">{{i.name}}</a> </h4>
													<div class="shop-button"> <a class="button-shop1 button-shop-1569901097042-1569912915546" href="{{i.get_url}}" style="color:#fff; background-color:#000" tabindex="-1"> Shop now </a> </div>
													<!-- END PRODUCT     -->

													<p class="price-product"> <span class="price">{{i.price}}</span> <s class="price-old">$600.00</s> </p>
												</div>
											</div>
										</div>
										<style>

										</style>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="shopify-section-1567247502339" class="shopify-section">
				<div data-section-id="1567247502339" data-section-type="section-banner-v1" style="margin-top: 50px; ">
					<div class="section-banner-v4">
						<div class="container">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-12 col-sm-12">
									<div class="box-info">
										<div class="box-img-one"> <a href="#"><img src="{% static 'images/banner1.jpg' %}" class="img-fluid"></a> </div>
										<div class="content-banner">
											<h3 class="title mb-0">Wedding<br>
												Jewellery</h3>
											<div class="list-inline info-bottom"> <a href="#" class="button-shop list-inline-item mr-0">Shop now</a> </div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-12 col-sm-12">
									<div class="box-info">
										<div class="box-img-one"> <a href="#"><img src="{% static 'images/banner2.jpg' %}" class="img-fluid"></a> </div>
										<div class="content-banner">
											<h3 class="title mb-0">Diamond<br>
												Bow Rings</h3>
											<div class="list-inline info-bottom"> <a href="#" class="button-shop list-inline-item mr-0">Shop now</a> </div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-12 col-sm-12">
									<div class="box-info">
										<div class="box-img-one"> <a href="#"><img src="{% static 'images/banner3.jpg' %}" class="img-fluid"></a> </div>
										<div class="content-banner">
											<h3 class="title mb-0">New<br>
												Collection</h3>
											<div class="list-inline info-bottom"> <a href="#" class="button-shop list-inline-item mr-0">Shop now</a> </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="shopify-section-1568447609380" class="shopify-section">
				<div data-section-id="1568447609380" data-section-type="section-product-v1" style=" ">
					<div class="section-product-v3 sec-product-v3">
						<div class="container container-v2">
							<div class="row justify-content-center">
								<div class="col-lg-12">
									<div class="title_ds_prodv5 text-center">
										<h3 style="margin-bottom: 50px;">Trending Products</h3>
										<p class="big_title"></p>
									</div>
								</div>
							</div>
							<div class="tab-content">
								<div id="a1" class="tab-pane fade show active">
									<div class="row">
									{% for i in prod  %}
										<div class="col-lg-3 col-md-4 col-sm-6 col-6 product-tab-pd">
											<div class="product-item-v1">
												<div class="product mb-30 engoj_grid_parent relative">
													<div class="img-product relative"> <a style="" href="{% url 'products' i.slug %}" class="engoj_find_img"> <img style="width: 100%" src="{{i.image.url}}" class="img-responsive img-four" alt="Agrafe earrings"> <img style="width: 100%;" src="{{i.image2.url}}" class="img-responsive absolute img-product-hover" alt="Agrafe earrings"> </a>
														<div class="product-icon-action">
															<div class="add-wishlist"> <a href="{% url 'products' i.slug %}" class="box-shadow  inline-block maxus-product__wishlist wish text-center" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist"> <i class="icon-heart "></i> </a> </div>
															<div class="add-to-cart">
																<form method="post" action="#" enctype="multipart/form-data" class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="Shop Now">
																	<!-- <input type="hidden" name="id" value="30287378612260" /> -->
																	<button type="submit" name="add" class="enj-add-to-cart-btn "> <i class="icon-cart" style="font-size: 22px;"></i> </button>
																</form>
															</div>
														</div>
														<!--     END ICON -->

														<!--     SOLD OUT -->

														<!-- END SOLD OUT     -->

													</div>
													<div class="info-product">
														<h4 class="des-font capital title-product mb-0 flex"> <a href="{% url 'products' i.slug %}">JNJ Half Hoops</a> </h4>
														<!--     PRICE -->

														<div class="shop-button"> <a class="button-shop1 button-shop-1569901097042-1569912915546" href="{% url 'products' i.slug %}" style="color:#fff; background-color:#000" tabindex="-1"> Shop now </a> </div>
														<!-- END PRODUCT     -->

														<!--     THUMBNAIL PRODUCT -->

														<!-- END THUMBNAIL     -->
													</div>
												</div>
											</div>
											<style>

											</style>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<section class="testimonials" style="background:url({% static './img/bg.jpg' %}); background-repeat: none !important;">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="title_ds_prodv5 text-center">
									<h3 style="margin-bottom: 50px; color: #fff !important">What People Say</h3>
									<p class="big_title"></p>
								</div>
								<div id="customers-testimonials" class="owl-carousel">

									<!--TESTIMONIAL 1 -->
									<div class="item">
										<div class="shadow-effect"> <img class="img-circle" src="img/user.png" alt="">
											<p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
										</div>
										<div class="testimonial-name">EMILIANO AQUILANI</div>
									</div>
									<!--END OF TESTIMONIAL 1 -->
									<!--TESTIMONIAL 2 he-->
									<div class="item">
										<div class="shadow-effect"> <img class="img-circle" src="img/user.png" alt="">
											<p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
										</div>
										<div class="testimonial-name">ANNA ITURBE</div>
									</div>
									<!--END OF TESTIMONIAL 2 -->
									<!--TESTIMONIAL 3 -->
									<div class="item">
										<div class="shadow-effect"> <img class="img-circle" src="img/user.png" alt="">
											<p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
										</div>
										<div class="testimonial-name">LARA ATKINSON</div>
									</div>
									<!--END OF TESTIMONIAL 3 -->
									<!--TESTIMONIAL 4 -->
									<div class="item">
										<div class="shadow-effect"> <img class="img-circle" src="img/user.png" alt="">
											<p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
										</div>
										<div class="testimonial-name">IAN OWEN</div>
									</div>
									<!--END OF TESTIMONIAL 4 -->
									<!--TESTIMONIAL 5 -->
									<div class="item">
										<div class="shadow-effect"> <img class="img-circle" src="img/user.png" alt="">
											<p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
										</div>
										<div class="testimonial-name">MICHAEL TEDDY</div>
									</div>
									<!--END OF TESTIMONIAL 5 -->
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- END OF TESTIMONIALS -->
				<div id="shopify-section-1568798320012" class="shopify-section index-section">
				<div data-section-id="1568798320012" data-section-type="section-service-v1" style="  ">
					<div class="container container-v2">
						<div class="callto-action-wrapper">
							<div class="row">
								<div class="col-lg-3 col-md-6">
									<!-- Single Call-to Action Start -->
									<div class="single-callto-action d-flex">
										<figure class="callto-thumb"> <img src=" {% static 'img/air-plane.png' %}" alt="WorldWide Shipping"> </figure>
										<div class="callto-info">
											<h2>Free Shipping Worldwide</h2>
											<p>On order over $150 - 7 days a week</p>
										</div>
									</div>
									<!-- Single Call-to Action End -->
								</div>
								<div class="col-lg-3 col-md-6">
									<!-- Single Call-to Action Start -->
									<div class="single-callto-action d-flex">
										<figure class="callto-thumb"> <img src="{% static 'img/support.png' %}" alt="Support"> </figure>
										<div class="callto-info">
											<h2>24/7 CUSTOMER SERVICE</h2>
											<p>Call us 24/7 at 000 - 123 - 456k</p>
										</div>
									</div>
									<!-- Single Call-to Action End -->
								</div>
								<div class="col-lg-3 col-md-6">
									<!-- Single Call-to Action Start -->
									<div class="single-callto-action d-flex">
										<figure class="callto-thumb"> <img src="{% static 'img/money-back.png' %}" alt="Money Back"> </figure>
										<div class="callto-info">
											<h2>MONEY BACK Guarantee!</h2>
											<p>Send within 30 days</p>
										</div>
									</div>
									<!-- Single Call-to Action End -->
								</div>
								<div class="col-lg-3 col-md-6">
									<!-- Single Call-to Action Start -->
									<div class="single-callto-action d-flex">
										<figure class="callto-thumb"> <img src="{% static 'img/cog.png' %}" alt="Guide"> </figure>
										<div class="callto-info">
											<h2>SHOPPING GUIDE</h2>
											<p>Quis Eum Iure Reprehenderit</p>
										</div>
									</div>
									<!-- Single Call-to Action End -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


				<div id="shopify-section-1569901167528" class="shopify-section">
					<div data-section-id="1569901167528" data-section-type="section-newsletter-v3" style=" ">
						<div class="ds-newsletter-v3" style="background-image: url( {% static './img/bg.jpg' %})">
							<div class="container container-v2">
								<div class="title_newletter">
									<h3 class="title mb-0">LIKE BEING FIRST?</h3>
								</div>
								<p class="mb-0 content">Then get your can't-miss style news, before everybody else</p>
								<div class="row ">
									<div class="col-lg-12">
										<div class="newletter_email">
											<form class="needs-validation form-inline" action="#" method="post">
												<div class="form-group">
													<input type="email" name="EMAIL" class="form-control" placeholder="Enter your email..." required>
												</div>
												<button class="btn" type="submit">SUBSCRIBE</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<style>

					</style>
				</div>

				<!-- END content_for_index -->
{% include 'footer.html' %}				
			</div>
		</div>
{% include 'scriptfoot.html' %}
</body>

</html>