<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>JLN | EURO PENDANT</title>
	<link rel="stylesheet" href="css/custom.css">
	<meta property="og:url" content="index.html">
	<meta property="og:site_name" content="Nozer- Jewelry Store Shopify Theme">
	<meta name="twitter:card" content="summary">
	<link rel="canonical" href="index.html">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="#7fc9c4">
	<link rel="icon" href="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/favicon20ee.png?v=3204386079363479650" type="image/png" sizes="16x16">

	<!-- font -->

	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/assets/owl.carousel.min.css'>
	<link rel='stylesheet' href='https://themes.audemedia.com/html/goodgrowth/css/owl.theme.default.min.css'>
	<link rel="stylesheet" href="owl/owlcss.css">

	<!-- CSS ================================================== -->

	<link href="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/timber.scss5fcb.css?v=1195985630400189394" rel="stylesheet" type="text/css" media="all" />
	<link href="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/bootstrap.min0d61.css?v=12128791072025208527" rel="stylesheet" type="text/css" media="all" />
	<link href="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/themify-icons40bc.css?v=1782837867860931872" rel="stylesheet" type="text/css" media="all" />
	<link href="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/font-awesome.minaee4.css?v=2186963269736709578" rel="stylesheet" type="text/css" media="all" />
	<link href="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/icomoona0db.css?v=12959770319024230806" rel="stylesheet" type="text/css" media="all" />
	<link href="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/flaticonf6e7.css?v=12234828035801690068" rel="stylesheet" type="text/css" media="all" />
	<link href="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/slick97ee.css?v=9834047404617688405" rel="stylesheet" type="text/css" media="all" />
	<link href="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/slick-themea330.css?v=2659259180337512662" rel="stylesheet" type="text/css" media="all" />
	<link href="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/jquery.fancybox.min1a36.css?v=5567558441353799884" rel="stylesheet" type="text/css" media="all" />
	<link href="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/threesixtyf1a8.css?v=13144836913076953335" rel="stylesheet" type="text/css" media="all" />
	<link href="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/style-main.scss9682.css?v=11255182312954542908" rel="stylesheet" type="text/css" media="all" />
	<link href="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/engo-customize.scss83f8.css?v=10397321290063602383" rel="stylesheet" type="text/css" media="all" />

	<!-- Header hook for plugins ================================================== -->
	<script>
		window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');
	</script>
	<meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/22720479268/digital_wallets/dialog">
	<link href="https://monorail-edge.shopifysvc.com/" rel="dns-prefetch">
	<script integrity="sha256-BFmLd7EQOpIHg76CWl9MJFqROXNgxiHNdyBpz5k0cRM=" crossorigin="anonymous" data-source-attribution="shopify.loadfeatures" defer="defer" src="cdn.shopify.com/s/assets/storefront/load_feature-04598b77b1103a920783be825a5f4c245a91397360c621cd772069cf99347113.js"></script>
	<script integrity="sha256-h+g5mYiIAULyxidxudjy/2wpCz/3Rd1CbrDf4NudHa4=" data-source-attribution="shopify.dynamic-checkout" defer="defer" src="cdn.shopify.com/s/assets/storefront/features-87e8399988880142f2c62771b9d8f2ff6c290b3ff745dd426eb0dfe0db9d1dae.js" crossorigin="anonymous"></script>
	<script integrity="sha256-HjpxOt032ssmooRgVOW/c8loNAwGy026qLmF3OAx9M0=" crossorigin="anonymous" defer="defer" src="cdn.shopify.com/s/assets/storefront/bars/preview_bar_injector-1e3a713add37dacb26a2846054e5bf73c968340c06cb4dbaa8b985dce031f4cd.js"></script>
	<link rel="stylesheet" media="screen" href="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/compiled_assets/stylesf7ca.css?1210">
	<script id="sections-script" data-sections="section-slideshow-v2,section-banner-v3,section-banner-v4,section-newsletter-v3" defer="defer" src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/compiled_assets/scriptsf7ca.js?1210"></script>
	<script>
		window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.end');
	</script>
	<script src="ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/assets/themes_support/api.jquery-e94e010e92e659b566dbc436fdfe5242764380e00398907a14955ba301a4749f.js" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/modernizr-2.8.3.min3774.js?v=17472752542221191523" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/assets/themes_support/option_selection-fe6b72c2bbdd3369ac0bfefe8648e3c889efca213baefd4cfb0dd9363563831f.js" type="text/javascript"></script>
	<!-- /snippets/social-meta-tags.liquid -->

	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&amp;display=swap" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<style>
		body {
			overflow-x: hidden !important;
		}
	</style>
</head>

<body class="preload push_filter_left js_overhidden">

	<div class="wrap">
		<div class="contentbody">
			<?php include 'header.php'; ?>

			<div id="shopify-section-contact-template" class="shopify-section">
				<div class="wrap-bread-crumb breadcrumb_collection2">
					<div class="text-center bg-breadcrumb" style="background-image: url(./img/aboutus-bg_140.jpg);">
						<div class="title-page">

							<h2 class="">EURO PENDANT</h2>

						</div>
						<!-- /snippets/breadcrumb.liquid -->



						<div class="bread-crumb">
							<a href="index.php" title="Back to the frontpage">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a>
							<strong>EURO PENDANT</strong>
						</div>
					</div>
				</div>
				<section id="content">
					<div class="content-page contact-page">

						<div id="shopify-section-1568435391144" class="shopify-section">
							<div data-section-id="1568435391144" data-section-type="section-product-v6">
								<div class="ds-product-v6">
									<div class="container">
										<div class="title_ds_prodv5 text-center">
											<h3 class="mb-0">EURO PENDANT</h3>
										</div>
										<div class="product_new" style="padding-top: 50px;">
										<div class="row">
												<div class="col-lg-3 col-md-4 mb-3 col-12">
													<div class="product_item-g">
														<img src="images/euro-pendant/image1.jpg">
													</div>
												</div>
												<div class="col-lg-3 col-md-4 mb-3 col-12">
													<div class="product_item-g">
														<img src="images/euro-pendant/image2.jpg">
													</div>
												</div>
												<div class="col-lg-3 col-md-4 mb-3 col-12">
													<div class="product_item-g">
														<img src="images/euro-pendant/image3.jpg">
													</div>
												</div>
												<div class="col-lg-3 col-md-4 mb-3 col-12">
													<div class="product_item-g">
														<img src="images/euro-pendant/image4.jpg">
													</div>
												</div>
												<div class="col-lg-3 col-md-4 mb-3 col-12">
													<div class="product_item-g">
														<img src="images/euro-pendant/image5.jpg">
													</div>
												</div>
											</div>
										</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>






			</div>

			<?php include 'footer.php'; ?>

			<div id="back-to-top" class="one">
				<i class="ti-angle-up"></i>
			</div>



		</div>

	</div>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/fastclick6d29.js?v=18094824874813853145" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/javascripts/currencies.js" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/jquery.currencies.minb15e.js?v=17505776077200662322" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/timberc946.js?v=14711222106712985598" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/handlebars.min3010.js?v=7904446995236839729" type="text/javascript"></script>
	<!-- /snippets/ajax-cart-template.liquid -->
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/ajax-cart748d.js?v=1230791560055078477" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/bootstrap.bundle.min189d.js?v=10697909701509708116" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/slick.min60d7.js?v=17408132016694157407" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/instafeed.min56d2.js?v=9003247094669648496" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/jquery.fancybox.min8e38.js?v=7852223938957104511" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/ajaxinate.mina2b8.js?v=654877121719681896" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/engo-plugins2dd6.js?v=15990522605681718822" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/quickviewe735.js?v=13920211458619649108" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/collectionc5f9.js?v=11441445832597112539" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/threesixty.min2565.js?v=2885247568098202840" type="text/javascript"></script>
	<script src="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/engo-scripts4e8c.js?v=15502313731116996377" type="text/javascript"></script>
	<script>
		$(document).on('click', '.overlay, .continue-shopping, .close-window', function() {
			$(".engo-popup").hide();
		});
	</script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/owl.carousel.min.js'></script>
	<script src="owl/owljs.js"></script>
</body>

</html>