		{% load static %}
		<script src="{% static 'js/fastclick6d29.js' %}" type="text/javascript"></script>
		<script src=" {% static 'js/currencies.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/jquery.currencies.minb15e.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/timberc946.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/handlebars.min3010.js' %}" type="text/javascript"></script>
		<!-- /snippets/ajax-cart-template.liquid -->
		<script src="{% static 'js/ajax-cart748d.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/bootstrap.bundle.min189d.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/slick.min60d7.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/instafeed.min56d2.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/jquery.fancybox.min8e38.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/ajaxinate.mina2b8.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/engo-plugins2dd6.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/quickviewe735.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/collectionc5f9.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/threesixty.min2565.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/engo-scripts4e8c.js' %}" type="text/javascript"></script>
		<script>
			$(document).on('click', '.overlay, .continue-shopping, .close-window', function() {
				$(".engo-popup").hide();
			});
		</script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/owl.carousel.min.js'></script>
		<script src=" {% static 'owl/owljs.js' %}"></script>