<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>JLN | Thank You</title>
	<meta property="og:url" content="index.html">
	<meta property="og:site_name" content="Nozer- Jewelry Store Shopify Theme">
	<meta name="twitter:card" content="summary">
	<link rel="canonical" href="index.html">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="#7fc9c4">
	<link rel="icon" href="cdn.shopify.com/s/files/1/0227/2047/9268/t/7/assets/favicon20ee.png?v=3204386079363479650" type="image/png" sizes="16x16">

	<!-- font -->

	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
{% include 'headlinks.html' %}

<script>
         setTimeout(function(){
            window.location.href = 'http://127.0.0.1:5000/';
         }, 1000);
      </script>

	<style>
		body {
			overflow-x: hidden !important;
		}
	</style>
</head>

<body class="preload push_filter_left js_overhidden">
{% load static %}
	<div class="wrap">
		<div class="contentbody">
{% include 'header.html' %}

			<div id="shopify-section-contact-template" class="shopify-section">
				<div class="wrap-bread-crumb breadcrumb_collection2">
					<div class="text-center bg-breadcrumb" style="background-image: url({% static './img/aboutus-bg_140.jpg' %});">
						<div class="title-page">
							<h2 class="">Thank You</h2>
						</div>
						<div class="bread-crumb">
							<a href="/" title="Back to the frontpage">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a>
							<strong>Thank You</strong>
						</div>
					</div>
				</div>
<section style="text-align:center; padding:100px;">
<h1 style="color:red;">Your Order has been placed successfully !!</h1>
</section>
{% include 'footer.html' %}
		</div>
	</div>
	{% include 'scriptfoot.html' %}
</body>

</html>